<!DOCTYPE html>
<html>
	<head>
		<title>{{ title }}</title>
		<link href="{{ asset_url "style.css" }}" rel="stylesheet" />
	</head>
	<body>
		<div class="pd-page">
			<div class="pd-page-breadcrumbs">
				{{#breadcrumbs breadcrumbs}}
					{{#if (not is_first)}}<div "pd-crumb-sep">&rsaquo;</div>{{/if}}
					<div class="pb-crumb-{{#if is_last}}current{{else}}prev{{/if}} {{#if is_paged}}pb-crumb-paged{{/if}}">
						{{#if is_last}}
							<span class="pb-crumb-title">{{ title }}</span>
						{{else}}
							<a class="pb-crumb-title" href="{{ url }}">{{ title }}</a>
						{{/if}}
						{{#if is_paged}}
							<span class="pb-crumb-page-info">Page <strong>{{current_page}}</strong> of <strong>{{total_pages}}</strong></span>
						{{/if}}
					</div>
				{{/breadcrumbs}}
			</div>
			<div class="pd-page-header">
				<h2>{{ name }}</h2>
			</div>

			{{#with data}}
			{{> @partial-block }}
			{{/with}}
		</div>
	</body>
</html>