{{#> layout}}
	{{{ body }}}

	{{#each entries}}
		<div class="pd-entry">
			<a name="{{ anchor }}"><h3 class="pd-entry-title">{{ name }}</h3></a>
			{{#if body}}<div class="pd-entry-body">{{{ body }}}</div>{{/if}}
			<table>
				{{#each properties }}
				<tr>
					<td>{{ name }}</td>
					<td>{{{ value }}}</td>
				</tr>
				{{/each}}
			</table>
			{{#with cross_refs}}
				<div class="pd-entry-cross-refs">
					{{#each groups}}
						<h4 class="pd-cross-ref-source">{{name}}</h4>
						{{#each properties}}
							<h5 class="pd-cross-ref-name">{{ name }}</h5>
							<div class="pd-cross-ref-body">{{{body}}}</div>
						{{/each}}
					{{/each}}
				</div>
			{{/with}}
		</div>
	{{/each}}
{{/layout}}