{{#> layout}}
	{{{ body }}}

	{{#with cross_refs}}
		<div class="pd-scope-cross-refs">
			{{#each groups}}
			<div class="pd-cross-ref-group">
				<h4 class="pd-cross-ref-source">{{name}}</h4>
				{{#each properties}}
					<h5 class="pd-cross-ref-name">{{ name }}</h5>
					<div class="pd-cross-ref-body pd-cols">
						{{#columns items 2}}
							<div class="pd-cross-ref-list pd-col pd-col-{{n}}">
								<ul>
									{{#each values}}
										<li>{{{this}}}</li>
									{{/each}}
								</ul>
							</div>
						{{/columns}}
					</div>
				{{/each}}
			</div>
			{{/each}}
		</div>
	{{/with}}
{{/layout}}